@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
html {
    height: 100vh;
    width: 100vw;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: lightgray;
    color: Black;
    padding: 20px;
}
main {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid  rgba(16, 16, 221, 0.582);
    background: lightskyblue;
}
button > span {
    font-size: 200px !important;
}
button:first-child {
    margin-right: 50px;
}
button:active {
    opacity: 0.7;
}

.status-container {
    font-size: 40px;
    color: #ca3b39;
}

footer {
    padding: 20px;
    background: grey;
    /* min-height: 50px; */
    display: flex;
    align-items: end;
    justify-content: end;
}
